a {
	text-decoration: underline;
}

i, em, cite, var, address {
	font-style: italic;
}

b, strong {
	font-weight: bold;
}

h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

h2 {
	font-size: 1.5em;
	margin: 0.75em 0;
}

h3 {
	font-size: 1.17em;
	margin: 0.83em 0;
}

h4, p, blockquote, ul, ol, dl {
	margin: 1.12em 0;
}

h5 {
	font-size: 0.83em;
	margin: 1.5em 0;
}

h6 {
	font-size: 0.75em;
	margin: 1.67em 0;
}

pre, code, samp, kbd {
	font-family: monospace;
}

ul, ol {
	margin-left: 1em;
	margin-top: 0.6rem;
	margin-bottom: 0.6rem;
}

li > ul, li > ol {
	margin-top: 0;
	margin-bottom: 0;
}

svg {
	text-align: center;
}
