**/*.rs.bk
/target
/extra
/archives
/resources
/libs
/bin
/Settings.toml
/css/*-user.css
/hyphenation-patterns
/dictionaries
/src/mupdf_wrapper/*.so
/src/mupdf_wrapper/*.dylib
/src/mupdf_wrapper/Kobo
/src/mupdf_wrapper/Linux
/src/mupdf_wrapper/Darwin
/dist
/plato-*.zip
/thirdparty/*/*
!/thirdparty/*/*kobo*
