**/*.rs.bk
/target
/extra
/archives
/resources
/libs
/bin
/Settings.toml
/css/*-user.css
/hyphenation-patterns
/dictionaries
/src/wrapper/*.so
/src/wrapper/*.dylib
/dist
/plato-*.zip
/thirdparty/*/*
!/thirdparty/*/*kobo*
