**/*.rs.bk
/target
/extra
/archives
/resources
/libs
/bin
/Settings.toml
/.metadata.json
/.reading-states
/.fat32-epoch
/.thumbnail-previews
/.trash
/css/*-user.css
/hyphenation-patterns
/dictionaries
/dist
/bundle
/plato-*.zip
/thirdparty/*/*
!/thirdparty/*/*kobo*
