[package]
authors = ["Bastien Dejean <nihilhill@gmail.com>"]
name = "plato"
version = "0.3.7"

[[bin]]
name = "plato"
path = "src/main.rs"

[[bin]]
name = "plato-import"
path = "src/importer.rs"
required-features = ["importer"]

[[bin]]
name = "plato-emulator"
path = "src/emulator.rs"
required-features = ["emulator"]

[dependencies]
bitflags = "1.0.1"
downcast-rs = "1.0.1"
error-chain = "0.11.0"
fnv = "1.0.6"
isbn = "0.1.0"
lazy_static = "1.0.0"
libc = "0.2.40"
png = "0.11.0"
regex = "0.2.10"
serde = "1.0.35"
serde_derive = "1.0.35"
serde_json = "1.0.13"
titlecase = "0.10.0"
unicode-normalization = "0.1.5"
glob = "0.2.11"

[dependencies.html-entities]
version = "0.1.0"
optional = true

[dependencies.getopts]
version = "0.2.17"
optional = true

[dependencies.reqwest]
version = "0.8.5"
optional = true

[dependencies.chrono]
features = ["serde"]
version = "0.4.0"

[dependencies.sdl2]
version = "0.31.0"
optional = true

[features]
importer = ["reqwest", "getopts", "html-entities"]
emulator = ["sdl2"]
