[package]
authors = ["Bastien Dejean <nihilhill@gmail.com>"]
name = "plato"
version = "0.8.2"
edition = "2018"

[[bin]]
name = "plato"
path = "src/main.rs"

[[bin]]
name = "plato-import"
path = "src/importer.rs"
required-features = ["importer"]

[[bin]]
name = "plato-emulator"
path = "src/emulator.rs"
required-features = ["emulator"]

[[bin]]
name = "article_fetcher"
path = "src/fetcher.rs"
required-features = ["fetcher"]

[dependencies]
bitflags = "1.2.1"
downcast-rs = "1.1.1"
failure = "0.1.6"
failure_derive = "0.1.6"
fnv = "1.0.6"
lazy_static = "1.4.0"
libc = "0.2.67"
png = "0.15.3"
regex = "1.3.4"
serde = "1.0.104"
serde_derive = "1.0.104"
serde_json = "1.0.48"
titlecase = "1.1.0"
unicode-normalization = "0.1.12"
glob = "0.3.0"
rand = "0.7.3"
crockford = "1.0.1"
toml = "0.5.6"
zip = "0.5.4"
kl-hyphenate = "0.7.2"
entities = "1.0.1"
paragraph-breaker = "0.4.3"
rand_xorshift = "0.2.0"
xi-unicode = "0.2.0"
septem = "1.0.1"
byteorder = "1.3.4"
flate2 = "1.0.13"
levenshtein = "1.0.4"
nix = "0.17.0"

[dependencies.getopts]
version = "0.2.21"
optional = true

[dependencies.reqwest]
version = "0.10.2"
features = ["rustls-tls", "json", "blocking"]
default-features = false
optional = true

[dependencies.chrono]
features = ["serde"]
version = "0.4.10"

[dependencies.sdl2]
version = "0.33.0"
optional = true

[dependencies.crossbeam-channel]
version = "0.4.2"
optional = true

[dependencies.signal-hook]
version = "0.1.13"
optional = true

[features]
importer = ["getopts"]
emulator = ["sdl2"]
fetcher = ["reqwest", "crossbeam-channel", "signal-hook"]
