[package]
authors = ["Bastien Dejean <nihilhill@gmail.com>"]
name = "plato"
version = "0.5.3"

[[bin]]
name = "plato"
path = "src/main.rs"

[[bin]]
name = "plato-import"
path = "src/importer.rs"
required-features = ["importer"]

[[bin]]
name = "plato-emulator"
path = "src/emulator.rs"
required-features = ["emulator"]

[dependencies]
bitflags = "1.0.3"
downcast-rs = "1.0.1"
failure = "0.1.1"
failure_derive = "0.1.1"
fnv = "1.0.6"
isbn = "0.1.0"
lazy_static = "1.0.0"
libc = "0.2.40"
png = "0.12.0"
regex = "1.0.0"
serde = "1.0.44"
serde_derive = "1.0.44"
serde_json = "1.0.17"
titlecase = "0.10.0"
unicode-normalization = "0.1.5"
glob = "0.2.11"
rand = "0.4.2"
crockford = "1.0.1"
toml = "0.4.6"
zip = {version = "0.4.2", features = ["deflate-zlib"], default-features = false }
hyphenation = { version = "0.7.1" }
entities = "1.0.1"
paragraph-breaker = "0.4.2"
either = "1.5.0"

[dependencies.getopts]
version = "0.2.17"
optional = true

[dependencies.reqwest]
version = "0.8.5"
optional = true

[dependencies.chrono]
features = ["serde"]
version = "0.4.2"

[dependencies.sdl2]
version = "0.31.0"
optional = true

[features]
importer = ["reqwest", "getopts"]
emulator = ["sdl2"]
