body {
	font-size: 256px;
}

@font-face {
	font-family: "Icons";
	src: url("icons.ttf") format("truetype");
}

.ic {
	font-family: Icons;
	font-style: normal;
	font-weight: normal;
	text-transform: none;
	 -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
