[package]
authors = ["Bastien Dejean <nihilhill@gmail.com>"]
name = "plato-core"
version = "0.9.35"
edition = "2021"

[lib]
crate-type = ["rlib"]

[dependencies]
bitflags = "2.1.0"
downcast-rs = "1.2.0"
lazy_static = "1.4.0"
libc = "0.2.141"
png = "0.17.7"
regex = "1.7.3"
serde = { version = "1.0.159", features = ["derive"] }
serde_json = "1.0.95"
titlecase = "2.2.1"
unicode-normalization = "0.1.22"
toml = "0.7.3"
zip = "0.6.4"
kl-hyphenate = "0.7.3"
entities = "1.0.1"
paragraph-breaker = "0.4.4"
xi-unicode = "0.3.0"
septem = "1.1.0"
byteorder = "1.4.3"
flate2 = "1.0.25"
levenshtein = "1.0.5"
nix = "0.26.2"
indexmap = { version = "1.9.3", features = ["serde-1"] }
anyhow = "1.0.70"
thiserror = "1.0.40"
walkdir = "2.3.3"
globset = "0.4.10"
filetime = "0.2.21"
fxhash = "0.2.1"
rand_core = "0.6.4"
rand_xoshiro = "0.6.0"
percent-encoding = "2.2.0"
chrono = { version = "0.4.24", features = ["serde"] }
