[package]
authors = ["Bastien Dejean <nihilhill@gmail.com>"]
name = "plato-core"
version = "0.9.41"
edition = "2021"

[lib]
crate-type = ["rlib"]

[dependencies]
bitflags = "2.5.0"
downcast-rs = "1.2.1"
lazy_static = "1.4.0"
libc = "0.2.153"
png = "0.17.13"
regex = "1.10.4"
serde = { version = "1.0.199", features = ["derive"] }
serde_json = "1.0.116"
titlecase = "3.0.0"
unicode-normalization = "0.1.23"
toml = "0.8.12"
zip = "1.1.1"
kl-hyphenate = "0.7.3"
entities = "1.0.1"
paragraph-breaker = "0.4.4"
xi-unicode = "0.3.0"
septem = "1.1.0"
byteorder = "1.5.0"
flate2 = "1.0.29"
levenshtein = "1.0.5"
nix = { version = "0.28.0", features = ["fs", "ioctl"] }
indexmap = { version = "2.2.6", features = ["serde"] }
anyhow = "1.0.82"
thiserror = "1.0.59"
walkdir = "2.5.0"
globset = "0.4.14"
fxhash = "0.2.1"
rand_core = "0.6.4"
rand_xoshiro = "0.6.0"
percent-encoding = "2.3.1"
chrono = { version = "0.4.38", features = ["serde", "clock"], default-features = false }
