[package]
authors = ["Bastien Dejean <nihilhill@gmail.com>"]
name = "plato-core"
version = "0.9.34"
edition = "2021"

[lib]
crate-type = ["rlib"]

[dependencies]
bitflags = "1.3.2"
downcast-rs = "1.2.0"
lazy_static = "1.4.0"
libc = "0.2.137"
png = "0.17.7"
regex = "1.7.0"
serde = { version = "1.0.147", features = ["derive"] }
serde_json = "1.0.87"
titlecase = "2.2.1"
unicode-normalization = "0.1.22"
toml = "0.5.9"
zip = "0.6.3"
kl-hyphenate = "0.7.3"
entities = "1.0.1"
paragraph-breaker = "0.4.4"
xi-unicode = "0.3.0"
septem = "1.1.0"
byteorder = "1.4.3"
flate2 = "1.0.24"
levenshtein = "1.0.5"
nix = "0.25.0"
indexmap = { version = "1.9.1", features = ["serde-1"] }
anyhow = "1.0.66"
thiserror = "1.0.37"
walkdir = "2.3.2"
globset = "0.4.9"
filetime = "0.2.18"
fxhash = "0.2.1"
rand_core = "0.6.4"
rand_xoshiro = "0.6.0"
percent-encoding = "2.2.0"
chrono = { version = "0.4.23", features = ["serde"] }
log = "0.4.17"

chess_uci = { git = "https://git.hadoly.fr/bateast/chess_uci.git", optional = true }
chess = { version = "3.2.0", optional = true }
env_logger = { version = "0.10.0", optional = true }


[features]
chess = ["dep:chess_uci", "dep:chess"]
devel = ["dep:env_logger"]
